* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;


}

.App {
  background-color: lightgray;
  
}

.btn {
  width: 10%;
  height: 5%;
  margin-left: 110px;
  margin-top: 25px;
  
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
 
}

.title {
  background: white;
  margin-top: 50px;
  padding-top: 12px;
  padding-left: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

.getPeople {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  padding: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
}

.getPeople>.txtField {
  width: 50%;
  margin-right: 15px;
}

.getPeople>.btnFetch {
  width: 50%;
}

.search {
  background: white;
  margin-top: 40px;
  padding-top: 12px;
  padding-left: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 15px;
  height: 50px;

}

.search-box {
  width: 90%;
  border: 1px solid snow;
  outline: none;
}


@media (max-width: 800px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .title{
    margin-top: 300px;
  }


}

@media (max-width: 500px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 50%;
    height: 100px;
    object-fit: cover;
  }
}

